In [1]:
%load_ext autoreload
%autoreload 2

## Debug: Load CSV String

In [ ]:
data = """```plaintext
"Voucher Type","Customer Name","Customer Address","Customer State","Customer GSTIN","Supplier Name","Supplier Address","Supplier State","Supplier GSTIN","Document Number","Document Date","Narration"
"Sales","ACCO SPACE SOLUTIONS LLP","No 36/5 27TH MAIN RD ITI LAYOUT, BANGALORE, 560102","KARNATAKA","29ABNFA1370M1Z1","TATA TELESERVICES LTD","30/01 Silicon Terraces, Hosur Road, Bangalore, Karnataka - 560095","KARNATAKA","29AAACT2438A1ZP","3015635256","02/01/2024","Managed Enterprise Internet Service for December 2023"
"HSN Code","Product Name","Quantity","Quantity Unit","Rate","Currency","Discount","Taxable Amount","Tax Rate","Tax Amount","Total Amount"
"998421","Managed Enterprise Internet Service","1","Nos","137500.00","INR","0","137500.00","18.00","24750.00","162250.00"
```"""

In [ ]:
import src.parse_pdf as parse_pdf
import src.tally_connector as tc

common_df, items_df = parse_pdf.process_csv_string(data)

In [ ]:
import pymupdf

pages = pymupdf.get_text(filename)
text = "\n\n\n".join(pages)
print(text)

   Due date
^Amount due before
due date
Last Payment
Current charges
Credit/Debit  Note
Adjustments
Previous Balance
Rs. 1,62,250.00
Rs. 0.00
+
Rs. 3,24,500.00
=
+/-
# Amount due after
    due date
-
Rs. 3,24,500.00
Rs. 1,62,250.00
Rs. 3,24,500.00
^ Bill is rounded off to nearest rupee.
ACCO SPACE SOLUTIONS LLP
Mr KIMIDI DILEEP KUMAR . .
3rd Floor, Revanna's Building
# 1564 27th Main Road,, HSR Layout Sector 2,
Bangalore BANGALORE
KARNATAKA - 560102
Page 1
TAX INVOICE
Customer Details:
E-bill email ID
Customer GST No
Bill Sequence No.
Pay your previous bill immediately to avoid disconnection. Pay your current charges by Pay Immediate to avoid late payment charges
15
# It Includes Late Payment Fee
Customer PAN No
ABNFA1370M
:
:
:
:
Please attach this slip with your Cheque/DD
Cheque/DD No:
Dated
Bank
Branch
Payment  Slip
Mode of Payment:
Cash
Cheque/DD
E-Payment
Account No: 209420761
Invoice No: 3015635256
Bill Date: 02-Jan-24
Due Date: Pay
Immediate
Bill Amount: Rs. 3,24,500.00
Cheque/DD should be payable to "Tata Teleservices Ltd Account No 209420761"
Signature
Account No
Bill Period
209420761
3015635256
02-Jan-24
01-Dec-23 to  31-Dec-23
Credit Limit
3299999
Security Deposit
0
dileep.k@hustlehub.xyz;anil.k@hustlehub.xyz
Bill Details:
Due Date
Pay Immediate
Bill/invoice No
Bill Date
:
:
:
:
:
:
:
29AAACT2438A1ZP
AAACT2438A
29ABNFA1370M1Z1
Tata Teleservices GST No:
Tata Teleservices PAN Number:
How to Pay your Bill
Pay Online with iManage Self Care
Login to your iManage Self care account https://www.tatatelebusiness.com/iManage
Pay online using payment gateway on: https://www.tatatelebusiness.com/billpay
Pay Immediate
State Office Address: 30/01 Silicon Terraces, Hosur Road, Bangalore, Karnataka - 560095
 TATA TELESERVICES LTD
 Regd. Office:Tata Teleservices Limited, Jeevan Bharti,Tower 1, 10th Floor,124,Connaught Circus, New Delhi - 110001.  CIN-U74899DL1995PLC066685.
IRN
cad4ad8b36d156991434442142dd7f08d6cf7e76db1003dbb98d89bf4ad96544
:
of 5
Digitally signed by
MEENA GS
Date: 2024.01.24 15:41:11 IST
Signature Not Verified



 1. You can get in touch with us 24 hours a day. Just call 18002661515 (Toll free) or write to us at 1515@tatatel.co.in
 2. The SMS rates mentioned are applicable for 1st 100SMS/day. Post 100, SMS would be charged at standard rate (Local 60ps, STD Rs1.20ps/-, ILD Rs.5/-) or tariff rate whichever is higher.
 3. It will be deemed that you have accepted this invoice in full in the event you have not lodged any registered complaint with us within 30 days of receipt of this invoice.
 4. Downgrade of tariff plan or termination within lock in period may lead to early termination charges, wherever applicable. Please refer to the service agreement clause for more details or you can reach out
     to  1800 266 1515 or send an e- mail to 1515@tatatel.co.in
 5. To know about model calculation of financial implication of tariff plans, please visit our website www.tatatelebusiness.com
 6. Credit limit is the sole discretion of TTL. Your credit limit is just an indicator of your monthly usage and in the event your usage exceeds the given credit limit, you  are required to pay for all the calls and
     services that exceed / do not exceed the stated credit limit.
 7. Collection policy is updated on our website www.tatatelebusiness.com
 8. In case you disconnect our services, we will refund your security deposit, if any, within sixty days of closure of connection. In case of delay, you will earn interest on the security deposit @10% p.a.
 9. To avoid unwanted telemarketing calls, register your telephone number inthe NDNC Registry - call 1909 or visit https://www.tatatelebusiness.com/dlt-details/
10. TTSL/TTML has full right to change the terms and conditions applicable to the tariff plans. Please log on to www.tatatelebusiness.com for other conditions applicable.
11. Payment received after due date: Applicable Interest would be charged on the payments.
12. Reverse charge mechanism is not applicable
13. It is mandatory to share Invoice(s) No. and *Tax deducted at source (TDS) details (*if applicable) while making payment to ensure correct and timely processing
14. For complaint on billing, service related issues or for termination related query you can reach out to  1800 266 1515 or send a mail to 1515@tatatel.co.in along with mandatory details of disputed
      account no, invoice no, reason for dispute and documents substantiating the dispute.
15. To change your email for correspondence send an email to 1515@tatatel.co.in with "Change mail" in the subject line. Please include your account No.
16. To receive bills electronically send an email to 1515@tatatel.co.in with "Save trees" in the subject line. Please include your account No.
17. This invoice is system generated and doesn't require any signature.
18. GST - To register/modify GST No.  please send request 7 days prior to bill cycle to '1515@tatatel.co.in'. Any request will be effective from forthcoming invoice.
19. SEZ Exemption would be applied only upon submission of the requisite documents as per Government norms. Exemption would be effective from forthcoming invoice. For queries, please reach out
      Account Manager / Relationship manager.
20. Supply meant for supply to SEZ unit or SEZ developer for authorised operations under letter of undertaking without payment of Integrated Tax.
21. As per the section of 139A (5) (c) of Income tax Act, it has been mandated to indicate Permanent Account Number (PAN) of both Service Provider & Service Recipient on the invoice.To comply with these
      regulations, we request you to please provide your PAN details by sending an email to 1515@tatatel.co.in with details of Account No, PAN number & PAN Card copy.
22.If you are not satisfied with our broadband services, you can highlightthe matter to our Appellate Officer Prameela G through a letter or write to appellate.kk@tatatel.co.in .Please note that the appellate authority
will be operational only between 9:30am to 6:00 pm, Monday to Friday.

Original for recipient, Duplicate for supplier.
Important Information
Dynamic Credit Limit
24 x 7 contact center       : 1800 266 1515
Email ID                           : 1515@tatatel.co.in
Website                            : www.tatatelebusiness.com
If you are not satisfied with our services,please visit the Contact Us page on our
website to get in touch with the rightpeople.
Contact us
iManage - The Enterprise Self Care
iManage - the enterprise self care portal to help you manage your services
like never before! With iManage, you can:
·         Raise and track requests
·         View and pay bills
·         Monitor live usage
·         Manage your inventory of services

And a lot more...
Login to iManage https://www.tatatelebusiness.com/iManage
A dynamic credit limit is assigned to your account at the sole discretion of TTSL and
the same is reviewed periodically based on your usage pattern. Your credit limit is just
an indicator and in the event your usage exceeds the given credit limit within a bill cycle,
you are required to pay for charges of all the services including the amount which has
exceeded the stated limit. Your services may get restricted if your unpaid usage exceeds
the credit limit.
Page 2
Your Nearest Bill Payment Locations for Cheque Collections:
1. 411, 24Th Main, 2Nd Sector, Hsr Layout, Bangalore,Bangalore,560102-(CHQ)
Current Charges Amount is Excluding Exit Charges
of 5



Summary of Current Net Charges
Rs.
1) Rental charges
1,37,500.00
2) Usage Charges
0.00
3) Data Usage Charges
0.00
4) Value Added Service Charges
0.00
SubTotal
1,37,500.00
5) One Time Charges
0.00
6) Goods and Services Tax
24,750.00
Total Current Charges
1,62,250.00
Pay Immediate
02-Jan-24
01-Dec-23 to  31-Dec-23
Bill Period
Due Date
Bill Details
Account No.
209420761
Page 3
Bill Date                            :
Dual Last Mile
Summary of Del Charges
Sl.No
Tata Tele
No./Circuit ID
Rental
Charges
(Rs.)
Usage Charges
Voice/
VAS(Rs.)
One Time
Charges
(Rs.)
Goods # and
Services Tax
(Rs.)
Total
Charges
(Rs.)
1
0008005928085
1,37,500.00
0.00
0.00
24,750.00
998421
1,62,250.00
Total
1,37,500.00
0.00
0.00
24,750.00
998421
1,62,250.00
HSN Code
# Bifurcation of the Goods and Services Tax(Rs.)
Central Goods and Services Tax @ 9.0%
12,375.00
State Goods and Services Tax @ 9.0%
12,375.00
ACCO SPACE SOLUTIONS LLP
No 36/5 27TH MAIN RD ITI LAYOUT
BANGALORE, 560102
BANGALORE
KARNATAKA - 560102,State Code: 29
Installation/ Place of Supply:
Payment Details
Total Payments: Rs.1,62,250.00
Date
Payment Type
Cheque No
Amount (Rs.)
22-Dec-23
BILLDESKPYMT-NET BANKING_EBS
NA
1,62,250.00
of 5



Bill Details
Tata Tele Number      0008005928085
Account No              209420761
Page 4
Service / Product: Managed Enterprise Internet Service
Bill Period                  01-Dec-23 to  31-Dec-23
Bill/Invoice No
3015635256
Po No
NA
Bill Date                            :
02-Jan-24
HSN
ILL BILLING PLAN
Bill Plan
Name
998421
  Duration
(hh:mm:ss)
   Number
   of  Units
Amount
   (Rs.)
Net Charges
    (Rs.)
Bandwidth Adv Charges (ARC) {charges from 01-Jan-24 to
 31-Jan-24}
1,37,500.00
1,37,500.00
Total
1,37,500.00
1,37,500.00
 Rental Charges
Central Goods and Services Tax @ 9.0%
12,375.00
State Goods and Services Tax @ 9.0%
12,375.00
Total
24,750.00
Goods and Services Tax
Total Current Charges
1,62,250.00
 One Lakh Sixty-Two Thousand Two Hundred Fifty Rupees
of 5



Your LeasedLine Details:
CIRCUIT ID
0008005928085
Product Variant
Type Of Billing
Percentile  Value
P.O.No.
NA
Link Commissioning Date
22-Oct-22
Bandwidth
1000 Mbps
A Address
No 36/5 27TH MAIN RD ITI LAYOUT,BANGALORE-560102
A Address1
27TH MAIN RD
A Address2
ITI LAYOUT,BANGALORE-560102
B Address
BANGALORE-560102.KARNATAKA
B Address1
B Address2
PARENT CIRCUIT ID
Change Activity
Service Type
ILL
TRAI Rate
0.00
Annual Rental charges
1650000
Circle
KARNATAKA
Page 5 of 5

## Load PDF

In [ ]:
import src.parse_pdf as parse_pdf
import src.tally_connector as tc

company_name = tc.get_tally_company()
filename = "./invoices//10.pdf"
common_df, items_df = parse_pdf.parse_pdf(company_name, filename)

display(common_df)
display(items_df)

================================== Ai Message ==================================

```csv
"Voucher Type","Voucher Date","Narration"
"Journal","02/01/2024","Invoice for Managed Enterprise Internet Service for December 2023"
"Account Name","Account Address","Account State","Account GSTIN","Account Group","Transaction Type","Debit Amount","Credit Amount"
"ACCO SPACE SOLUTIONS LLP","No 36/5 27TH MAIN RD ITI LAYOUT, BANGALORE, 560102","KARNATAKA","29ABNFA1370M1Z1","Sundry Debtors","Debit","162250.00","0"
"TATA TELESERVICES LTD","30/01 Silicon Terraces, Hosur Road, Bangalore, Karnataka - 560095","KARNATAKA","29AAACT2438A1ZP","Sundry Creditors","Credit","0","137500.00"
"Central Goods and Services Tax","No 36/5 27TH MAIN RD ITI LAYOUT, BANGALORE, 560102","KARNATAKA","","Duties & Taxes","Credit","0","12375.00"
"State Goods and Services Tax","No 36/5 27TH MAIN RD ITI LAYOUT, BANGALORE, 560102","KARNATAKA","","Duties & Taxes","Credit","0","12375.00"
```
ChatGPT Response Metadata: {'token_usage': {'completion_tokens': 284, 'prompt_tokens': 3662, 'total_tokens': 3946, 'completion_tokens_details': {'audio_tokens': 0, 'reasoning_tokens': 0, 'accepted_prediction_tokens': 0, 'rejected_prediction_tokens': 0}, 'prompt_tokens_details': {'audio_tokens': 0, 'cached_tokens': 3456}}, 'model_name': 'gpt-4o-2024-08-06', 'system_fingerprint': 'fp_159d8341cc', 'finish_reason': 'stop', 'logprobs': None}

,Voucher Type,Voucher Date,Narration,filename
0,Journal,02/01/2024,Invoice for Managed Enterprise Internet Servic...,./invoices//10.pdf

,Account Name,Account Address,Account State,Account GSTIN,Account Group,Transaction Type,Debit Amount,Credit Amount
0,ACCO SPACE SOLUTIONS LLP,"No 36/5 27TH MAIN RD ITI LAYOUT, BANGALORE, 56...",KARNATAKA,29ABNFA1370M1Z1,Sundry Debtors,Debit,162250.0,0.0
1,TATA TELESERVICES LTD,"30/01 Silicon Terraces, Hosur Road, Bangalore,...",KARNATAKA,29AAACT2438A1ZP,Sundry Creditors,Credit,0.0,137500.0
2,Central Goods and Services Tax,"No 36/5 27TH MAIN RD ITI LAYOUT, BANGALORE, 56...",KARNATAKA,NaN,Duties & Taxes,Credit,0.0,12375.0
3,State Goods and Services Tax,"No 36/5 27TH MAIN RD ITI LAYOUT, BANGALORE, 56...",KARNATAKA,NaN,Duties & Taxes,Credit,0.0,12375.0

In [ ]:
import src.tally_connector as tc

tc.match_masters(common_df, items_df)
display(common_df)
display(items_df)

,Voucher Type,Customer Name,Customer Address,Customer State,Customer GSTIN,Supplier Name,Supplier Address,Supplier State,Supplier GSTIN,Document Number,Document Date,Narration,Party Account,[D] Party Account
0,Sales,COUCHPOTATO,"NO 23 100 FT RING ROAD, IIND STAGE BTM LAYOUT,...",Karnataka,29AOQPS5823M1ZY,LOOKING GOOD FURNITURE LLP,"NO. 99/2, Adur village, Bidarahalli Hobil, Vir...",Karnataka,29AAJFL9399L1Z5,LGF/24/01370,26/04/2024,"Invoice for furniture purchase, E-Way Bill No:...",COUCHPOTATO,COUCHPOTATO

,HSN code,Product Name,Quantity,Quantity Unit,Rate,Currency,Discount,Taxable Amount,Tax Rate,Tax Amount,Total Amount,[D] Stock Item,[D] Units
0,94034000,Center Table A107,1,PCS,9144.07,INR,0,9144.07,18,1645.93,10790.00,None,PCS
1,94034000,Corner Table A107,1,PCS,5776.27,INR,0,5776.27,18,1039.73,6816.00,None,PCS
2,94034000,Center Table SC-S03,1,PCS,12513.56,INR,0,12513.56,18,2252.44,14766.00,None,PCS
3,94034000,Corner Table SC-S03,1,PCS,6738.14,INR,0,6738.14,18,1212.87,7951.01,None,PCS
4,94034000,Center Table CT-4,1,PCS,12513.56,INR,0,12513.56,18,2252.44,14766.00,None,PCS
...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,94034000,Dining Chair 231,6,PCS,6738.14,INR,0,40428.84,18,7277.19,47706.03,None,PCS
59,94034000,Dining Table T07+BBH Onyx (6str) 1.8,1,PCS,38504.24,INR,0,38504.24,18,6930.76,45435.00,None,PCS
60,94034000,Dining Chair CL 1058 Grey,4,PCS,8181.90,INR,0,32727.60,18,5890.97,38618.57,None,PCS
61,94034000,Dining Bench CL 1080 Gey,1,PCS,15883.05,INR,0,15883.05,18,2858.95,18742.00,None,PCS
62,94034000,Garden Set X-12 (1+4),1,PCS,15400.85,INR,0,15400.85,18,2772.15,18173.00,None,PCS

In [ ]:
from src.verify_df import verify_amounts

errors = verify_amounts(items_df)
errors

[]

In [ ]:
total_tax = items_df["Tax Amount"].sum()
total_tax

258116.80000000002

In [ ]:
import src.tally.create_masters as create_masters

create_masters.create_masters(common_df, items_df)

Created Stock Item: Center Table A107
Created Stock Item: Corner Table A107
Created Stock Item: Center Table SC-S03
Created Stock Item: Corner Table SC-S03
Created Stock Item: Center Table CT-4
Created Stock Item: Corner Table CT-4
Created Stock Item: Center Table V05# (set of 2)
Created Stock Item: Center Table A112
Created Stock Item: Center Table E38
Created Stock Item: Corner Table E38
Created Stock Item: Center Table AS63-1 (Titanium)
Created Stock Item: Corner Table AS63-1 (Titanium)
Created Stock Item: Center Table CT2350
Created Stock Item: Center table AH-777
Created Stock Item: Corner Table AH-777
Created Stock Item: Center Table AS63 (Gold)
Created Stock Item: Corner Table AS63 (Gold)
Created Stock Item: Center Table A82 (S909)
Created Stock Item: Corner Table A82 (S909)
Created Stock Item: Console X34
Created Stock Item: Center Table AH-2462
Created Stock Item: Corner Table AH-2462
Created Stock Item: Centre Table AS46 (1+2) Gold
Created Stock Item: Console Table S934
Created Stock Item: Center Table S965
Created Stock Item: Center Table C06
Created Stock Item: Corner Table C06
Created Stock Item: Console Table S919
Created Stock Item: Center Table E213
Created Stock Item: Corner Table E213
Created Stock Item: Sofa Set BC10111 (2Str)
Created Stock Item: Sofa Set BC10111 (3Str)
Created Stock Item: Sofa Set 6571 ( 2 Str )
Created Stock Item: Sofa Set 6571 ( 3 Str )
Created Stock Item: Sofa Set BC10155 (2Str)
Created Stock Item: Sofa Set BC10155 (3Str)
Created Stock Item: Sofa Set BC10153 (2Str)
Created Stock Item: Sofa Set BC10153 (3Str)
Created Stock Item: Sofa Set 6357 2str ( Blue)
Created Stock Item: Sofa Set 6357 3str ( Blue)
Created Stock Item: Sofa Set CH6331 ( 1 Str ) Blue
Created Stock Item: Sofa Set C-20701 (2 Str)
Created Stock Item: Sofa Set C-20701 (3 Str)
Created Stock Item: Dining Table 2028 (6 Str)
Created Stock Item: Dining Chair CL-1058 Green
Created Stock Item: Dining Bench CL-1080 Green
Created Stock Item: Sofa Set EM0787(2str)
Created Stock Item: Sofa Set EM0787 (3 Str)
Created Stock Item: Garden Set TY-20231206 (1+2)
Created Stock Item: Garden Set S-25 (1+2)
Created Stock Item: Garden Set 109+52 (1+2)
Created Stock Item: Garden Set 8065 (1+2)
Created Stock Item: Dining Chair 2802
Created Stock Item: Dining Table 2303 + BY (8 Str) 2.1
Created Stock Item: Dining Chair WDC320B
Created Stock Item: Dining Table 687 Base + BK Top
Created Stock Item: Dining Chair C01
Created Stock Item: Dining Table U91+18 (6 Str)
Created Stock Item: Dining Chair 231
Created Stock Item: Dining Table T07+BBH Onyx (6str) 1.8
Created Stock Item: Dining Chair CL 1058 Grey
Created Stock Item: Dining Bench CL 1080 Gey
Created Stock Item: Garden Set X-12 (1+4)

In [ ]:
import src.tally.create_vouchers as create_vouchers

create_vouchers.create_vouchers(common_df, items_df)